<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/footerStyle.css">
	</head>
	<body>
		<footer>
			<div class="section">
				<ul>
					<li><b>Libri</b></li>
					<li>Libri</li>
					<li>Libri</li>
					<li>Libri</li>
				</ul>
			</div>
			
			<div class="section">
				<ul>
					<li><b>CD</b></li>
					<li>Libri</li>
					<li>Libri</li>
					<li>Libri</li>
				</ul>
			</div>
			
			<div class="section">
				<ul>
					<li><b>Vinili</b></li>
					<li>Libri</li>
					<li>Libri</li>
					<li>Libri</li>
				</ul>
			</div>
			
			<div class="section">
				<ul>
					<li><b>Gadgets</b></li>
					<li>Libri</li>
					<li>Libri</li>
					<li>Libri</li>
				</ul>
			</div>
			
			<div class="section details">
				<ul>
					<li>About</li>
					<li>Contact</li>
					<li>Advice</li>
					<li>Privacy policy</li>
				</ul>
			</div>
			
		</footer>
	</body>
</html>