@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.feedback-message {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.feedback-message-negative {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-family: 'Roboto', sans-serif;
}