@charset "UTF-8";

.card img {
	max-width: 100%;
}

.card-body {
    padding: 10px;
}

.card-title, .card-text {
    margin-bottom: 5px;
}

.rating {
   	color: #f5a623;
   	font-size: 16px;
   	display: inline-block;
 }
 
.card{
	width: 12rem;
	border: none;
}
      
.productsContainer > .row *{
	padding-right: 0;
	padding-left: 0;
}

.img-container{
	position: relative;
}

.card:hover img{
    opacity: 0.9;
}

.add-to-cart {			    
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgb(160, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
    opacity: 0;
}

.add-to-cart:hover {			    
	background-color: rgb(200, 0, 0, 1);
	color: white;
}

.img-container:hover .add-to-cart {
    opacity: 1;
}

#wishlist-form{
	display: inline-block;
	position: absolute;
}

.carousel img{
	object-fit: contain;
	max-height: 640px; 
}

#musicCarousel img, #bookCarousel img{
 	object-fit: contain;
	max-height: 300px; 
}

#gadgetCarousel img{
	max-height: 150px; 
}
      
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

#wishlist-form button{
	border: none;
	background-color: white;
	font-size: 1.5rem;
	position: relative;
	bottom: 5px;
}

#wishlist-form button:hover {
    transform: scale(1.15);
    color: #8B0000;
}

#wishlist-form button{
	color: black;
}

@media (max-width: 1200px) {
	#editorialChoises .carousel-control-prev{
		top: auto;
		bottom: -5px;
		left: -40px;
	}
	#editorialChoises .carousel-control-next{
		top: auto;
		bottom: -5px;
		right: -40px;
	}
}

@media (max-width: 875px) {
	#editorialChoises .carousel-control-prev{
		top: 0;
		bottom: 0;
		left: 0px;
	}
	#editorialChoises .carousel-control-next{
		top: 0;
		bottom: 0;
		right: 0px;
	}
	.carousel img{
		object-fit: cover;
		max-height: 440px; 
	}
}

@media (max-width: 575px) {
	#bookCarousel .card, #musicCarousel .card, #gadgetCarousel .card{
		width: 88%;
	}
	#bookCarousel .card-title, #musicCarousel .card-title, #gadgetCarousel .card-title{
		font-size: 0.96rem;
	}
	
	#bookCarousel .card-text, #musicCarousel .card-text, #gadgetCarousel .card-text{
		font-size: 0.94rem;
	}
	
	#bookCarousel .rating, #musicCarousel .rating, #gadgetCarousel .rating{
		font-size: 0.8rem;
	}
	
	#bookCarousel .add-to-cart, #musicCarousel .add-to-cart, #gadgetCarousel .add-to-cart{
		font-size: 10px;
		padding: 8px 0;
	}
	#gadgetCarousel img{
		max-height: 130px; 
	}
}

@media (max-width: 500px) {
	#bookCarousel .card-title, #musicCarousel .card-title, #gadgetCarousel .card-title{
		font-size: 0.93rem;
	}
	
	#bookCarousel .card-text, #musicCarousel .card-text, #gadgetCarousel .card-text{
		font-size: 0.84rem;
	}
	
	#bookCarousel .rating, #musicCarousel .rating, #gadgetCarousel .rating{
		font-size: 0.68rem;
	}
}

@media (max-width: 450px) {
	#bookCarousel .row > *, #musicCarousel .row > *, #gadgetCarousel .row > *{
		padding: 0;
	}
}

@media (max-width: 370px) {
	#bookCarousel .card-title, #musicCarousel .card-title, #gadgetCarousel .card-title{
		font-size: 0.73rem;
	}
	
	#bookCarousel .card-text, #musicCarousel .card-text #gadgetCarousel .card-text{
		font-size: 66%;
	}
	
	#bookCarousel .rating, #musicCarousel .rating #gadgetCarousel .rating{
		font-size: 0.65rem;
	}
}

@media (max-width: 768px) {
	#bookCarousel .control, #musicCarousel .control, #gadgetCarousel .control{
		top: auto;
		bottom: auto;
	}
	
	#headerEditorialChoise{
		font-size: 2.2rem;
	}
}