nav{
    background-color: #0B86B6;
 	display: flex;
}

nav #links{
	align-self: center;
	margin-left: auto;
	margin-right: 5%;
}

nav #links ul li{
    display: inline;
}

nav #links ul a{
	padding: 13px 12px 13px 12px;
	font-size: 18.7px;
    color: #EEEEEE;
    text-decoration: none;
}

nav #links ul a:hover {
    background-color: #89B9E3;
}

#zona_utente{
	margin: 0.5% 10% 0% 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#zona_utente #logo{
	width: 8%;
	height: 100%;
}

#zona_utente #searchbar{
	width: 40%;
	flex-shrink: 10;
}

#zona_utente #icone{
	width: 15%;
	display: flex;
}

#zona_utente #icone img{
    padding: 0px 30px 0px 0px;
}

#zona_utente form input{
    height: 40px;
    width: 100%;
    background-image: url("../img/search_icon.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
    background-size: 28px;
    color: grey;
    border: 2px solid #ccc;
  	border-radius: 7px;
  	outline: none;
  	font-size: 22px;
}

#zona_utente form input::placeholder{
    color: rgba(57, 56, 56, 0.533);
    font-size: 21px;
    transform: translateY(1.5px);
}
