
.custom-navbar {
  	height: 55px;
  	background-color: rgb(9, 23, 91);
}
   
#zona_utente .navbar-logo {
  	max-height: 45px;
}
	
#section-links a {
    color: rgba(9, 23, 91, 1);
    text-decoration: none;
    font-weight: bold;
}
      
#section-links a:hover{
	color: rgba(34, 19, 19, 0.6);
}

.section-link {
    position: relative;
    display: inline-block;
}

.section-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: blue;
    transition: width 0.3s, left 0.3s; 
}

.section-link:hover::after {
    width: 100%;
    left: 0; 
}

#zona_utente #searchbar-section {
    position: relative;
}

.risultati {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 7px 2px 10px 10px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    overflow-x: hidden;
  	max-height: 400px;
  	overflow-y: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-sizing: border-box;
}

.item-blue{
	color: rgba(9, 23, 91, 1);
}

.risultati.show {
    display: block;
}

.risultati .product {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 100%;
   	border: 0.3px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	border-radius: 0;
}

.risultati .product img {
	width: auto;
    margin-right: 2%;
}

.risultati .product #name {
    flex: 1; /* Espande il testo per occupare lo spazio rimanente */
    font-size: 16px;
    color: #333;
}

.risultati .product:hover {
    background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
    #nomeSito {
        filter: invert(60%);
    }
}

#zona_utente ::-webkit-scrollbar {
    width: 5px;
}

/* Sfondo della scrollbar */
#zona_utente ::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Thumb della scrollbar (parte mobile) */
#zona_utente ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#zona_utente ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

#zona_utente ::-webkit-scrollbar-thumb {
    transition: background-color 0.2s ease;
}

#zona_utente ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

#zona_utente ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#choiceModal {
	position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
	display: none;
	text-align: center;
    width: 80%;
	max-width: 400px;
	overflow: hidden;
	background: linear-gradient(145deg, #ffffff, #f0f0f0);
    opacity: 0; /* Inizialmente nascosto */
    transition: opacity 0.2s ease;
}

#modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
    opacity: 0; /* Inizialmente nascosto */
    transition: opacity 0.5s ease;
}
  
body.blurred #zona_utente, 
body.blurred nav,
body.blurred #contenuto,
body.blurred .container{
	filter: blur(5px);
}
  
.modalContent {
    display: flex;
    align-items: center;
}

.modal-section {
	flex: 1;
	text-align: center;
	padding: 20px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #007bff;
	background-color: #f8f9fa;
}

.modal-section:hover {
	border-radius: 12px;
	cursor: pointer;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	background-color: #dee2e6;
}

.modal-section i {
    font-size: 50px;
    margin-bottom: 10px;
}

.modal-section p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 992px) {
    .custom-navbar {
    	height: auto;
    }
    .risultati{
    	max-height: 300px;
    }
}

@media (max-width: 768px) {
    #choiceModal {
	    padding: 10px 0px;
	    width: 97%;
	    top: 46%;
	}
	#choiceModal p{
	 	font-size: 1rem;
	}
}

@media (max-width: 500px) {
	#choiceModal {
	    top: 50%;
	}
}

@media (max-width: 380px) {
	#choiceModal {
	    top: 48%;
	}
}