nav{
    background-color: #0B86B6;
 	display: flex;
 	z-index: 1000;
}

nav #links{
	align-self: center;
	margin-left: auto;
	margin-right: 5%;
}

nav #links ul li{
    display: inline;
}

nav #links ul a{
	padding: 13px 12px 13px 12px;
	font-size: 18.7px;
    color: #EEEEEE;
    text-decoration: none;
}

nav #links ul a:hover {
    background-color: #89B9E3;
}

#zona_utente{
	margin: 0.5% 10% 0% 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

#zona_utente #logo{
	width: 8%;
	height: 100%;
}

#zona_utente #searchbar-section {
    position: relative; /* Aggiungiamo posizionamento relativo */
    width: 42%;
    flex-shrink: 10;
}

#zona_utente #icone{
	width: 15%;
	display: flex;
}

#zona_utente #icone img{
    padding: 0px 30px 0px 0px;
}

#zona_utente input{
    height: 40px;
    width: 100%;
    background-image: url("../img/search_icon.png");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 26px;
    color: grey;
    border: 2px solid #ccc;
  	border-radius: 7px;
  	outline: none;
  	font-size: 17px;
  	padding: 12px 8px;
	box-sizing: border-box;
}

#zona_utente input::placeholder{
    color: rgba(57, 56, 56, 0.533);
    font-size: 17.5px;
    transform: translateY(1.6px);
}

.risultati {
    position: absolute;
    left: 0;
    top: 100%; /* Posiziona il menu sotto l'input */
    width: 100%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 7px 2px 10px 10px;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    overflow-x: hidden; /* Evita che il menu si espanda oltre i bordi */
  	max-height: 400px;
  	overflow-y: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-sizing: border-box; /* Assicura che padding e bordo siano inclusi nella larghezza */
}

/* Mostra il menu quando è visibile */
.risultati.show {
    display: block;
}

.risultati .product {
    display: flex;
    align-items: center; /* Allinea verticalmente gli elementi */
    padding: 10px;
    cursor: pointer;
    width: 100%;
   	border: 0.3px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	border-radius: 0;
}

.risultati .product img {
	width: auto;
    margin-right: 2%;
}

.risultati .product #name {
    flex: 1; /* Espande il testo per occupare lo spazio rimanente */
    font-size: 16px;
    color: #333;
}

.risultati .product:hover {
    background-color: #f0f0f0;
}