<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  	<display-name>BookScape</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
  
  	<error-page>
	    <error-code>404</error-code>
	   	<location>/common/error404.jsp</location>
	</error-page>
	
	<error-page>
	    <exception-type>javax.servlet.ServletException</exception-type>
	    <location>/common/error.jsp</location>
  	</error-page>
	 
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
    	<location>/common/error.jsp</location>
	</error-page>
  
	<filter>
    	<filter-name>AdminFilter</filter-name>
    	<filter-class>net.bookscape.control.AdminFilter</filter-class>
	</filter>
	
	<filter-mapping>
    	<filter-name>AdminFilter</filter-name>
    	<url-pattern>/admin/*</url-pattern>
	</filter-mapping> 
	
	<!-- Protegge specifiche servlet per amministratori -->
	<filter-mapping>
	    <filter-name>AdminFilter</filter-name>
	    <url-pattern>/UserManagement</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>AdminFilter</filter-name>
	    <url-pattern>/ProductControl</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>AdminFilter</filter-name>
	    <url-pattern>/FileUpload</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>AdminFilter</filter-name>
	    <url-pattern>/ProductSearchAdmin</url-pattern>
	</filter-mapping>
	
	<context-param>
        <param-name>uploadLocation</param-name>
        <param-value>C:\Program Files\Apache Software Foundation\Tomcat 9.0\webapps\BookScape\productImages</param-value>
    </context-param>
	
	<session-config>
		<session-timeout>2900</session-timeout>	
	    <cookie-config>
	        <http-only>true</http-only>
<!--        <secure>true</secure>			non ancora possibile abilitarlo poiché non si sta utilizzando https -->
	        <max-age>2600000</max-age>
	    </cookie-config>
	</session-config>
	
	<filter>
	    <filter-name>HttpHeaderSecurityFilter</filter-name>
	    <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
	    
	    <!-- HSTS -->
	    <init-param>
	        <param-name>hstsEnabled</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <init-param>
	        <param-name>hstsMaxAgeSeconds</param-name>
	        <param-value>31536000</param-value> <!-- 1 anno -->
	    </init-param>
	    <init-param>
	        <param-name>hstsIncludeSubDomains</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    <init-param>
	        <param-name>hstsPreload</param-name>
	        <param-value>false</param-value>
	    </init-param>
	    
	    <!-- Clickjacking -->
	    <init-param>
	        <param-name>antiClickJackingEnabled</param-name>
	        <param-value>true</param-value>
	    </init-param>
	    <init-param>
	        <param-name>antiClickJackingOption</param-name>
	        <param-value>SAMEORIGIN</param-value>
	    </init-param>
	    <init-param>
	        <param-name>antiClickJackingUri</param-name>
	        <param-value></param-value>
	    </init-param>
	    
	    <!-- Content Type Sniffing -->
	    <init-param>
	        <param-name>blockContentTypeSniffingEnabled</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>

	<filter-mapping>
	    <filter-name>HttpHeaderSecurityFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
        <filter-name>RateLimitFilter Global</filter-name>
        <filter-class>org.apache.catalina.filters.RateLimitFilter</filter-class>
        <init-param>
        	<param-name>statusMessage</param-name>
        	<param-value>Niente DDoS su Bookscape</param-value>
    	</init-param>
    </filter>

    <filter-mapping>
        <filter-name>RateLimitFilter Global</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>